<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>HelloServlets</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>Home</display-name>
		<servlet-name>Home</servlet-name>
		<servlet-class>com.home.Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>employ</display-name>
		<servlet-name>employ</servlet-name>
		<servlet-class>com.login.controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>employ</servlet-name>
		<url-pattern>/employ</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Employee</display-name>
		<servlet-name>Employee</servlet-name>
		<servlet-class>com.employee.model.Employee</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Employee</servlet-name>
		<url-pattern>/Employee</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EmployeeGetAll</display-name>
		<servlet-name>EmployeeGetAll</servlet-name>
		<servlet-class>com.sms.controller.EmployeeGetAll</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeGetAll</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>multi</servlet-name>
		<servlet-class>ServletBasics.Multiple</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>multi</servlet-name>
		<url-pattern>/multi</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FindAllController</display-name>
		<servlet-name>FindAllController</servlet-name>
		<servlet-class>controller.FindAllController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindAllController</servlet-name>
		<url-pattern>/Find</url-pattern>
	</servlet-mapping>
</web-app>